/* Import */
/* Colores */
/* Fondos*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100&family=Roboto:wght@100&display=swap");
col-var {
  widht: 850px; }

col-var {
  widht: 425px; }

col-var {
  widht: 283.33333px; }

col-var {
  widht: 212.5px; }

col-var {
  widht: 170px; }

secciones {
  text-align: center; }

secciones {
  text-align: center; }

secciones {
  text-align: center; }

/* Letras */
/* Variables */
.centrar {
  text-align: center; }

.cursiva {
  font-style: italic; }

.negrita {
  font-weight: bold; }

.boxmode {
  padding: 10px;
  border: 5px; }

.menu li {
  display: inline-block;
  border-color: black; }

.menu li a {
  text-decoration: none;
  padding: 10px;
  display: block; }

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 40px auto auto;
  justify-content: center;
  border-style: solid; }

.grid-container div {
  background-color: yellow;
  border: 2px solid black;
  text-align: center; }

.item1 {
  grid-column: 1 / 4; }

.grid-container2 {
  display: grid;
  grid-column: 1/7; }

/* Animacion logo */
img {
  animation-name: mianimacion;
  animation-duration: 5s;
  position: relative;
  animation-iteration-count: 3; }

@keyframes mianimacion {
  0% {
    left: 0;
    top: 0; }
  25% {
    left: 200px;
    top: 0; }
  50% {
    left: 0;
    top: 0; }
  75% {
    left: -200px;
    top: 0; }
  100% {
    left: 0;
    top: 0; } }

/* Bootstrap */
.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px); }

.dropdown-menu {
  position: static;
  display: block;
  width: auto;
  margin: 4rem auto; }

.dropdown-menu-macos {
  display: grid;
  gap: .25rem;
  padding: .5rem;
  border-radius: .5rem; }

.dropdown-menu-macos .dropdown-item {
  border-radius: .25rem; }

.dropdown-item-danger {
  color: var(--bs-red); }

.dropdown-item-danger:hover,
.dropdown-item-danger:focus {
  color: #fff;
  background-color: var(--bs-red); }

.dropdown-item-danger.active {
  background-color: var(--bs-red); }

.btn-hover-light {
  text-align: left;
  background-color: var(--bs-white);
  border-radius: .25rem; }

.btn-hover-light:hover,
.btn-hover-light:focus {
  color: var(--bs-blue);
  background-color: var(--bs-light); }

.cal-month,
.cal-days,
.cal-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center; }

.cal-month-name {
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center; }

.cal-weekday,
.cal-btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0; }

.cal-btn:not([disabled]) {
  font-weight: 500; }

.cal-btn:hover,
.cal-btn:focus {
  background-color: rgba(0, 0, 0, 0.05); }

.cal-btn[disabled] {
  opacity: .5; }

.form-control-dark {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.15); }

/* Fondo */
header {
  background: linear-gradient(lightblue 70%, #F1C27D);
  border-top-right-radius: 0; }

main {
  background: linear-gradient(#F1C27D 95%, lightblue);
  font-family: arial; }

footer {
  background: radial-gradient(#F1C27D, lightblue);
  padding: 15px;
  border: 2px; }

/* Estructura */
h1 {
  color: orange;
  padding: 18px;
  border: 4px;
  ancho: 850px;
  font-family: arial; }

p {
  color: red;
  padding: 18px;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-size: xxl-large;
  background-color: black;
  ancho: 505px; }

div {
  color: darkblue;
  font-size: small; }

h4 {
  color: black;
  font-size: small; }

video {
  border-color: black;
  border-radius: 100px;
  border-spacing: 50px; }

h3 {
  color: black;
  border: black; }

table {
  border-color: black;
  border-radius: 100px;
  border-spacing: 50px; }

label {
  text-align: center; }
